<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Você ganhou!</title>
</head>
<body>
  <p>Parabéns, {{ playerName }}! 🎉</p>
  <p>Você ganhou o jogo  contra Rigoberto.</p>
  <p>Sua pontuação atual é: {{ score }}</p>
</body>
</html>